.search{
    margin-bottom: 50px;
    
}
.search input{
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    background-color: #e0e0e0;
    padding-left: 10px;
}

.search button{
width: 40px;
height: 40px;
border: none;
border-radius: 0 5px 5px 0;
background-color: #6552f4;
color: #e0e0e0;
cursor: pointer;
}